{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">HTTP repository login</div>
                <div class="panel-body">
                    These logins are used when cloning repositories over http or https.
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Host</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                    <form method="post" action="/configuration/http_repo_auth/add">
                        <tr>
                            <td>
                                <input type="text" name="host" class="form-control">
                            </td>
                            <td>
                                <input type="text" name="username" class="form-control">
                            </td>
                            <td>
                                <input type="text" name="password" class="form-control">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-primary" value="Add">
                            </td>
                        </tr>
                    </form>
                    {% for hostname in config.http_repo_auth %}
                        <tr>
                            <td>{{ hostname }}</td>
                            <td>{{ config.http_repo_auth[hostname].username }}</td>
                            <td>{{ config.http_repo_auth[hostname].password }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Outgoing SMTP server</div>
                <div class="panel-body">
                    <form action="{{ url_for('smtp_save') }}" method="post" class="form">
                        <div class="form-group">
                            <label for="smtp-host">SMTP hostname</label>
                            <input type="text" name="host" id="smtp-host" class="form-control"
                                   value="{{ config.smtp.host }}">
                        </div>
                        <div class="form-group">
                            <label for="smtp-port">SMTP port</label>
                            <input type="number" name="port" id="smtp-port" class="form-control"
                                   value="{{ config.smtp.port }}">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="tls" {% if config.smtp.ssl %}checked{% endif %}> Use
                                SSL/TLS
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="auth" {% if config.smtp.auth %}checked{% endif %}> Use
                                authentication
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="smtp-username">Username</label>
                            <input type="text" name="username" id="smtp-username" class="form-control"
                                   value="{{ config.smtp.username }}">
                        </div>
                        <div class="form-group">
                            <label for="smtp-password">Password</label>
                            <input type="password" name="password" id="smtp-password" class="form-control"
                                   value="{{ config.smtp.password }}">
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary pull-right">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Advanced configuration</div>
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    {% for item in all_config %}
                        <tr>
                            <th>{{ item.id }}</th>
                            <td>{{ item.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
