{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Units</div>
                <table class="table table-bordered">
                    {% for unit in units %}
                        <tr>
                            <td>{{ unit.name }}</td>
                            <td {% if unit.sub == "exited" %} class="text-danger"{% endif %}>{{ unit.sub }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Running tasks</div>
                <table class="table table-bordered" id="tasks">
                    <tr>
                        <td id="tasks-spinner">Loading...</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $.get('/ajax/get-queue', function (data) {
                $('#tasks-spinner').hide();
                $.each(data.response, function (i, item) {
                    var $tr = $('<tr>').append(
                            $('<td>').text(item.label)
                    );
                    $tr.appendTo('#tasks');
                });
            })
        });
    </script>
{% endblock %}
