{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 15px;">
            <a href="#" class="btn btn-default">Edit</a>
            <a href="{{ url_for('destroy_instance', id=instance.id) }}" class="btn btn-danger">Destroy</a>

            <div class="btn-group pull-right" role="group">
                <a href="{{ url_for('instance_systemd_command', id=instance.id, command='start') }}"
                   class="btn btn-default{% if running %} disabled{% endif %}">
                    <i class="glyphicon glyphicon-play"></i>
                </a>
                <a href="{{ url_for('instance_systemd_command', id=instance.id, command='stop') }}"
                   class="btn btn-default{% if not running %} disabled{% endif %}">
                    <i class="glyphicon glyphicon-stop"></i>
                </a>
                <a href="{{ url_for('instance_systemd_command', id=instance.id, command='restart') }}"
                   class="btn btn-default{% if not running %} disabled{% endif %}">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Instance information</div>
                <table class="table table-striped">
                    <tr>
                        <th>Label</th>
                        <td>{{ instance.label }}</td>
                    </tr>
                    <tr>
                        <th>Instance of</th>
                        <td>
                            <a href="#">{{ instance.repository_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Clone mode</th>
                        <td>{{ instance.clone_source }}</td>
                    </tr>
                    {% if instance.clone_source == 'branch' %}
                        <tr>
                            <th>Branch</th>
                            <td>{{ instance.branch }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Tag</th>
                            <td>{{ instance.tag }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Entrypoint</th>
                        <td>{{ instance.entrypoint }}</td>
                    </tr>
                    <tr>
                        <th>Arguments</th>
                        <td>{{ instance.arguments }}</td>
                    </tr>
                    <tr>
                        <th>HTTP Port</th>
                        <td>{{ instance.port }}</td>
                    </tr>
                    <tr>
                        <th>Proxy frontend</th>
                        <td>{{ instance.proxy }}</td>
                    </tr>
                    <tr>
                        <th>Mountpoint</th>
                        <td>{{ instance.mountpoint }}</td>
                    </tr>
                    <tr>
                        <th>CPU usage</th>
                        <td>{{ usage.cpu }}</td>
                    </tr>
                    <tr>
                        <th>Memory usage</th>
                        <td>{{ usage.mem }}</td>
                    </tr>
                    <tr>
                        <th>Process count</th>
                        <td>{{ usage.tasks }}</td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">CPU Usage</div>
                <div class="panel-graph" style="height: 200px;" id="cpu-graph"></div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Journal</div>
                <table class="table table-striped">
                    {% for line in journal %}
                        <tr>
                            <th style="white-space: nowrap;">{{ line.timestamp }}</th>
                            <td>{{ line._COMM }}</td>
                            <td>{{ priority[line.PRIORITY] }}</td>
                            <td class="loglevel-{{ priority[line.PRIORITY] }}">{{ line.MESSAGE }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/vendor/d3/d3.min.js"></script>
    <script>
        function update_task_status() {
            $("td[data-task]").each(function () {
                var cell = $(this);
                var task = cell.attr('data-task');
                var current = cell.text();
                if (current != "SUCCESS" && current != "FAILURE") {
                    if (task != "") {
                        cell.load("/task-status/" + task);
                    }
                }
            });
            setTimeout(update_task_status, 1000);
        }
        setTimeout(update_task_status, 1000);

        (function () {

            var n = 243,
                    duration = 750,
                    now = new Date(Date.now() - duration),
                    count = 0,
                    data = d3.range(n).map(function () {
                        return 0;
                    });
            var container_width = d3.select("#cpu-graph").node().getBoundingClientRect();
            var margin = {top: 6, right: 0, bottom: 20, left: 40},
                    width = container_width.width - margin.right,
                    height = 200 - margin.top - margin.bottom;

            var x = d3.time.scale()
                    .domain([now - (n - 2) * duration, now - duration])
                    .range([0, width]);

            var y = d3.scale.linear()
                    .range([height, 0]);

            var line = d3.svg.line()
                    .interpolate("basis")
                    .x(function (d, i) {
                        return x(now - (n - 1 - i) * duration);
                    })
                    .y(function (d, i) {
                        return y(d);
                    });

            var svg = d3.select("#cpu-graph").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .style("margin-left", -margin.left + "px")
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            svg.append("defs").append("clipPath")
                    .attr("id", "clip")
                    .append("rect")
                    .attr("width", width)
                    .attr("height", height);

            var axis = svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

            var path = svg.append("g")
                    .attr("clip-path", "url(#clip)")
                    .append("path")
                    .datum(data)
                    .attr("class", "line");

            var transition = d3.select({}).transition()
                    .duration(750)
                    .ease("linear");

            d3.select(window)
                    .on("scroll", function () {
                        ++count;
                    });

            (function tick() {
                transition = transition.each(function () {

                    // update the domains
                    now = new Date();
                    x.domain([now - (n - 2) * duration, now - duration]);
                    y.domain([0, d3.max(data)]);

                    // push the accumulated count onto the back, and reset the count
                    data.push(Math.min(30, count));
                    count = 0;

                    // redraw the line
                    svg.select(".line")
                            .attr("d", line)
                            .attr("transform", null);

                    // slide the x-axis left
                    axis.call(x.axis);

                    // slide the line left
                    path.transition()
                            .attr("transform", "translate(" + x(now - (n - 1) * duration) + ")");

                    // pop the old data point off the front
                    data.shift();

                }).transition().each("start", tick);
            })();

        })()
    </script>
{% endblock %}
