{% extends "base.html" %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">Application instances</div>
        <table class="table table-striped">
            <tr>
                <th>Label</th>
                <th>Type</th>
                <th>Platform</th>
                <th>Port</th>
                <th>Mountpoint</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for app in apps %}
                <tr>
                    <td><a href="{{ url_for('instance_detail', label=app.label) }}">{{ app.label }}</a></td>
                    <td>{{ app.repository }}</td>
                    <td>{{ app.platform }}</td>
                    <td><a href="http://{{ request.host|replace(":5000", "") }}:{{ app.port }}/">{{ app.port }}</a></td>
                    <td><a href="http://{{ request.host|replace(":5000", "") }}/{{ app.mountpoint }}">/{{ app.mountpoint }}</a></td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a href="{{ url_for('destroy_instance', id=app.id) }}"
                           class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function update_task_status() {
            $("td[data-task]").each(function () {
                var cell = $(this);
                var task = cell.attr('data-task');
                var current = cell.text();
                if (current != "SUCCESS" && current != "FAILURE") {
                    if (task != "") {
                        cell.load("/task-status/" + task);
                    }
                }
            });
            setTimeout(update_task_status, 1000);
        }
        setTimeout(update_task_status, 1000);
    </script>
{% endblock %}
