{% extends "base.html" %}

{% block main %}
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 15px;">
            <a href="#" class="btn btn-default">Edit</a>
            <a href="{{ url_for('destroy_instance', id=instance.id) }}" class="btn btn-danger">Destroy</a>

            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default disabled">
                    <i class="glyphicon glyphicon-play"></i>
                </button>
                <button type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-stop"></i>
                </button>
                <button type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Instance information</div>
                <table class="table table-striped">
                    <tr>
                        <th>Label</th>
                        <td>{{ instance.label }}</td>
                    </tr>
                    <tr>
                        <th>Instance of</th>
                        <td>
                            <a href="#">{{ instance.repository_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Clone mode</th>
                        <td>{{ instance.clone_source }}</td>
                    </tr>
                    {% if instance.clone_source == 'branch' %}
                        <tr>
                            <th>Branch</th>
                            <td>{{ instance.branch }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Tag</th>
                            <td>{{ instance.tag }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Entrypoint</th>
                        <td>{{ instance.entrypoint }}</td>
                    </tr>
                    <tr>
                        <th>Arguments</th>
                        <td>{{ instance.arguments }}</td>
                    </tr>
                    <tr>
                        <th>HTTP Port</th>
                        <td>{{ instance.port }}</td>
                    </tr>
                    <tr>
                        <th>Proxy frontend</th>
                        <td>{{ instance.proxy }}</td>
                    </tr>
                    <tr>
                        <th>Mountpoint</th>
                        <td>{{ instance.mountpoint }}</td>
                    </tr>

                </table>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Journal</div>
                <table class="table table-striped">
                    {% for line in journal %}
                        <tr>
                            <th style="white-space: nowrap;">{{ line.timestamp }}</th>
                            <td>{{ line._COMM }}</td>
                            <td>{{ priority[line.PRIORITY] }}</td>
                            <td class="loglevel-{{ priority[line.PRIORITY] }}">{{ line.MESSAGE }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        function update_task_status() {
            $("td[data-task]").each(function () {
                var cell = $(this);
                var task = cell.attr('data-task');
                var current = cell.text();
                if (current != "SUCCESS" && current != "FAILURE") {
                    if (task != "") {
                        cell.load("/task-status/" + task);
                    }
                }
            });
            setTimeout(update_task_status, 1000);
        }
        setTimeout(update_task_status, 1000);
    </script>
{% endblock %}
