<!DOCTYPE html>
<html>
<head>
    <title>Platform</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
<h1 class="text-center">Platform</h1>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form action="/login" method="post">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>