{% extends "base.html" %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">Packages</div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            {% for package in packages %}
                <tr>
                    <td>
                        <a href="{{ package.package.website }}" target="_blank">
                            {{ package.package.name }}
                        </a>
                    </td>
                    <td>{{ package.package.description }}</td>
                    <td class="text-right">
                        <a href="#"
                           class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom"
                           title="Create instance"><i class="glyphicon glyphicon-plus"></i></a>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
