@import "../vendor/bootstrap/less/bootstrap";

@brand-primary: #243645;

@navbar-inverse-bg: @brand-primary;

#header-gravatar {
  border-radius: 32px;
  float: left;
  margin-top: -5px;
  padding-right: 12px;
}